.playcontainer{
    width: 100vw;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 2px solid aqua;
}

.childPlayContainer{
    position: relative;
    width: 65%;
    height: 82vmin;
    /* background-color: red; */
    border: 2px solid white;
}
.house{
    width: 100%;
    height: 50%;
    background: url('../images/gameback..png');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    animation: paths 100s linear infinite;
}
.house::after{
    content: '';
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    width: 100%;
    height: 7%;
    /* left: 0; */
    /* background-color: aqua; */
    background: linear-gradient(90deg, #181717 0%,#131111 50%,#e1b10f 50%, #e0980f 100%);
    background-size: 90px;
    animation: path 20s linear infinite;
}



.road{
    position: relative;
    /* top: -6px; */
    width: 100%;
    /* height: 9rem; */
    height: 54%;
    transform: translateY(10px);
    background-color: black;
    /* transform-origin: bottom; */
    /* transform-style: preserve-3d; */
    transform: rotateX(31deg);
}
.road::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #fff 0%,#fff 75%, #525252 70%, #525252 100%);
    background-size: 125px;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    /* 0%{
          background-position: 0px;
    } */
    100%{
        background-position: -300vw;
    }
}
@keyframes path{
    /* 0%{
        background-position: 0px;
    } */
    100%{
        background-position:-300vw;
    }
}
@keyframes paths{
    /* 0%{
          background-position: 0px;
    } */
    0%{
        background-position: 0vw;
    }
  
    100%{
        background-position:-300vw;  
    }
}
.car{
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    width: 100%;
    height: 6%;
    z-index: 2;
}
.car img{
    width: 30%;
}
.wheel{
    position: absolute;
    /* width: 100%;
    height: 100%;
    z-index: 2; */
    z-index: 2;
}
